[submodule "side/imgui"]
	path = side/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "side/Barcode"]
	path = side/Barcode
	url = git@github.com:Noremos/Barcode.git
[submodule "side/emhash"]
	path = side/emhash
	url = https://github.com/ktprime/emhash
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
